<div class="md-dialog-container">
    <form [formGroup]="form" (ngSubmit)="submit(form)">
      <h1 mat-dialog-title>Нов обект</h1>
  
      <mat-dialog-content>
        <ol>
          <li>
            <mat-form-field>
              <input matInput formControlName="siteName" placeholder="Име на обекта">
            </mat-form-field>
          </li>
  
          <li>
            <mat-form-field>
              <input matInput formControlName="siteAddress" placeholder="Адрес на обекта">
            </mat-form-field>
          </li>
  
          <li>
            <mat-form-field>
              <input matInput formControlName="sitePhone" placeholder="Телефон на обекта">
            </mat-form-field>
          </li>
  
        </ol>
      </mat-dialog-content>
  
  
      <mat-dialog-actions>
        <button mat-button type="submit">Add</button>
        <button mat-button type="close" (click)="closeDialog()">Cancel</button>
      </mat-dialog-actions>
  
  
    </form>
  </div>