<h1 mat-dialog-title>Редактиране на апарат</h1>
<form [formGroup]="form">

  <mat-dialog-content class="window">


    <ol>

      <li>
        <mat-form-field>
          <input matInput formControlName="sim" placeholder="СИМ IMSI">
        </mat-form-field>
      </li>

      <li>
        <mat-form-field>
          <input matInput formControlName="simPhone" placeholder="СИМ номер">
        </mat-form-field>
      </li>

      <li>
        <mat-form-field>
          <input matInput formControlName="deviceNumPostfix" placeholder="Сериен номер">
        </mat-form-field>
      </li>

      <li>
        <mat-form-field>
          <input matInput formControlName="fiscalNumPostfix" placeholder="Фискална памет">
        </mat-form-field>
      </li>

      <li>
        <mat-form-field>
          <input matInput formControlName="napNumber" placeholder="НАП номер">
        </mat-form-field>
      </li>

      <li>
        <mat-form-field>
          <input matInput readonly [matDatepicker]="pickerNapDateP" placeholder="НАП дата" formControlName="napDate">
          <mat-datepicker-toggle matSuffix [for]="pickerNapDateP"></mat-datepicker-toggle>
          <mat-datepicker #pickerNapDateP></mat-datepicker>
        </mat-form-field>
      </li>

    </ol>


  </mat-dialog-content>

  <mat-dialog-actions align="start">
    <button mat-button type="submit" (click)="editDevice()" class="button-text">Редактирай</button>
    <button mat-button type="close" (click)="closeDialog()" class="button-text">Затвори</button>
  </mat-dialog-actions>
</form>
