<h1 mat-dialog-title>Редактиране на обект</h1>
    <form [formGroup]="form" (ngSubmit)="submit(form)">
      
  
      <mat-dialog-content class="window">
        <ol>
          <li>
            <mat-form-field>
              <input matInput formControlName="siteName" placeholder="Име на обекта">
            </mat-form-field>
          </li>
  
          <li>
            <mat-form-field>
              <input matInput formControlName="siteAddress" placeholder="Адрес на обекта">
            </mat-form-field>
          </li>
  
          <li>
            <mat-form-field>
              <input matInput formControlName="sitePhone" placeholder="Телефон на обекта">
            </mat-form-field>
          </li>
  
        </ol>
      </mat-dialog-content>
  
  
      <mat-dialog-actions align="start">
        <button mat-button type="submit" class="button-text">Редактирай</button>
        <button mat-button type="close" (click)="closeDialog()" class="button-text">Затвори</button>
      </mat-dialog-actions>
  
  
    </form>