<div class="md-dialog-container">
  <h1 mat-dialog-title>Генериране на документ</h1>


  <mat-dialog-content>
    <ol>
      <li>
        <mat-select placeholder="Вид на документа" [(ngModel)]="selectedValue" name="model">
          <mat-option *ngFor="let type of documentTypes" [value]="type.value">
            {{type.viewValue}}
          </mat-option>
        </mat-select>
      </li>

      <li>
        <mat-select placeholder="Валидност" [(ngModel)]="selectedValueValidy" name="model2">
          <mat-option *ngFor="let type2 of documentTimeValid" [value]="type2.value">
            {{type2.viewValue}}
          </mat-option>
        </mat-select>
      </li>

      <li>
        <mat-form-field>
          <input matInput [(ngModel)]="contractNumber" placeholder="Номер на документа">
        </mat-form-field>
      </li>

      <li>
        <mat-form-field>
          <input matInput [(ngModel)]="fromDate" placeholder="От дата">
        </mat-form-field>
      </li>

      <li>
        <mat-form-field>
          <input matInput [(ngModel)]="toDate" placeholder="До дата">
        </mat-form-field>
      </li>

      <li>
        <mat-form-field>
          <input matInput [(ngModel)]="price" placeholder="Цена">
        </mat-form-field>
      </li>
    </ol>



  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-button type="submit" (click)="generate()">Генерирай и отвори</button>
    <button mat-button type="close" (click)="closeDialog()">Затвори</button>
  </mat-dialog-actions>

</div>

