<div class="md-dialog-container">
    <h1 mat-dialog-title>Генериране на документ</h1>
  
  
    <mat-dialog-content>
      <ol>
        <li>
          <mat-select placeholder="Вид на документа" [(ngModel)]="selectedValue" name="model">
            <mat-option *ngFor="let type of documentTypes" [value]="type.value">
                {{type.viewValue}}
            </mat-option>
          </mat-select>
        </li>
      </ol>
  
       

    </mat-dialog-content>

    <mat-dialog-actions>
        <button mat-button type="submit" (click)="generate()">Генерирай и отвори</button>
        <button mat-button type="close" (click)="closeDialog()">Затвори</button>
      </mat-dialog-actions>
  </div>