table {
    width: 100%;
  }

  .mat-header-cell{
    font-size: 18px;
    font-weight: bold;
    color: black;
  }
  
  .centerr{
    margin: auto;
    width: 95%;
    padding: 10px;
  }

  .example-container {
    height: 300px;
    overflow: auto;
    width: 100%;
    background-color: #d8cab294;
  }

  .header-table{
    background:#c99e06;
  }

  .edit_button{
    color: #000000;
  }

  .margin_dates{
    margin-left: 10px;
    
  }

  .add_client_button{
    color: #000000;
    margin-left: 10px;
  }

  .filter{
    margin-left: 130px;
  }

  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-element-row:not(.example-expanded-row):active {
     /* hold click */
    background: #000000;
  }
  
  .example-element-row td {
    border-bottom-width: 1px;
    background: #d8cab2ee;
  }

  .input-field {
    margin-top: 20px;
  }
  
  .example-element-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-element-diagram {
    min-width: 80px;
    border: 2px solid black;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
  }
  
  .example-element-symbol {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-element-description {
    padding: 16px;
  }
  
  .example-element-description-attribution {
    opacity: 0.5;
  }
  .highlight{
    background: rgb(0, 0, 0);
  }
 
 .mat-icon-button {
    padding: 0 !important;
    min-width: 0 !important;
    width: 30px !important;
    height: 30px !important;
    flex-shrink: 0 !important;
    line-height: 40px !important;
    border-radius: 50% !important;
}

.divBtns{
  display: flex;
}